<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>MEth for Doctors</title>
    <style>
      .head {
        color: #1E2772;
      }
    </style>
    <script
  type="text/javascript"
  src="//unpkg.com/@worldcoin/id/dist/world-id.js"
>
      
</script>

  </head>
  <body><div id="world-id-container"></div>
    <script>

worldID.init('world-id-container', {
  debug: true, // to aid with debugging, remove in production
  enable_telemetry: true,
  action_id: 'wid_37b8df93fcd0e3587b53daa705fc20d9',
  signal: '163f0f6025',
  on_success: (proof) => console.log(proof),
  on_error: (error) => console.error(error)
});
  console.log(worldID.getProps().signal);

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <h1 class = "display-6 head" style = "position: absolute; left: 40vw; font-size: 3vw; top: 17vh;">mEth for Doctors</h1>
  

  <div class = "row g-2" style= "position: absolute; left: 40vw; top: 27vh; width: 35vw; font-size: 1vw;">
  <div class="col-auto">
    <label for="PatientID" class="col-form-label">Patient ID</label>
  </div>
  <div class="col-auto">
    <input type="text" id="PatientID" class="form-control" style = "height: 2.8vw;">
  </div>
</div>

<div class = "row g-2" style= "position: absolute; left: 40.25vw; top: 34vh; width: 35vw; font-size: 1vw;">
  <div class="col-auto">
    <label for="med1" class="col-form-label">Medicine</label>
  </div>
  <div class="col-auto">
    <input type="text" id="med1" class="form-control" style = "height: 2.8vw;">
  </div>
</div>
<div id="newinput"></div>
                    <button id="rowAdder" type="button" class="btn btn-dark" style = "position: relative; left: 60vw; top: 34vh; width: 3vw; height: 3vw;">+</button>
                </div>
<script type="text/javascript">
 
        $("#rowAdder").click(function () {
            newRowAdd =
            '<div class = "row g-2" style= "position: relative; left: 40.25vw; top: 39vh; width: 35vw; font-size: 1vw;" id = "row">' +
            '<div class="col-auto"><label for="med1" class="col-form-label">Medicine</label></div><div class="col-auto">' +
            '<button class="btn btn-danger" id="DeleteRow" type="button">-</button>'+'<input type="text" id="med1" class="form-control" style = "height: 2.8vw;"></div></div></div>';
 
            $('#newinput').append(newRowAdd);
          
        });
 
        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
    </script>
    
  </body>
</html>
